<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Madlibs</h1>
    <div>
      <form action="/story">
        <label for="place">
          Place:
          <input type="text" name="place" id="place" placeholder="condo" />
        </label>
        <label for="noun">
          Noun:
          <input type="text" name="noun" id="noun" placeholder="dragon" />
        </label>
        <label for="verb">
          Verb:
          <input type="text" name="verb" id="verb" placeholder="eat" />
        </label>
        <label for="adjective">
          Adjective:
          <input
            type="text"
            name="adjective"
            id="adjective"
            placeholder="frozen"
          />
        </label>
        <label for="plural_noun">
          Plural Noun:
          <input
            type="text"
            name="plural_noun"
            id="plural_noun"
            placeholder="eat"
          />
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
